.center-box {
    align-items: center;
    display: flex;
    justify-content: center;
	height: 100%;
}
.grid {
    display: table;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 0;
}
.grid .grid {
    height: auto;
}
.grid.vertical {
    height: 100%;
}
.grid > div {
    display: table-cell;
    vertical-align: top;
    height: 100%;
	/*width: auto;*/
}
.grid.vertical > div {
    display: table-row;
    vertical-align: top;
    height: 100%;
	width: auto;
}
.grid .holder {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.grid .header h2, 
.grid .footer h2 {
    color: inherit;
    font-size: 22px;
    letter-spacing: -1px;
    margin: 20px 26px;
    padding: 0;
}
.grid .header h2 a, 
.grid .footer h2 a {
    color: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 4px 0 2px;
    padding: 10px 0;
    position: relative;
    top: -3px;
}
.grid .header h2 span, 
.grid .footer h2 span {
    float: right;
}
.grid .header form {
    margin: 16px 20px;
}
.grid .holder .content {
    display: table-row;
    width: 100%;
}
.grid .holder .content.scroll {
    overflow: auto;
    position: absolute !important;
}
.bg {
    position: relative;
    z-index: 1;
}
.bg::before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.bg.img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg.o00::before {
    opacity: 0;
}
.shape.o01::after,
.bg.o01::before {
    opacity: 0.1;
}
.shape.o02::after,
.bg.o02::before {
    opacity: 0.2;
}
.shape.o03::after,
.bg.o03::before {
    opacity: 0.3;
}
.shape.o04::after,
.bg.o04::before {
    opacity: 0.4;
}
.shape.o05::after,
.bg.o05::before {
    opacity: 0.5;
}
.shape.o06::after,
.bg.o06::before {
    opacity: 0.6;
}
.shape.o07::after,
.bg.o07::before {
    opacity: 0.7;
}
.shape.o08::after,
.bg.o08::before {
    opacity: 0.8;
}
.shape.o09::after,
.bg.o09::before {
    opacity: 0.9;
}