.opacity {
	opacity: 0.5;
}
.opacity.more {
	opacity: 0.3;
}
.opacity.less {
	opacity: 0.7;
}
.opacity.full {
	opacity: 1;
}
.bg.black {
	color: rgba(255, 255, 255, 1.0);
}
.bg.black nav.tabs .selected > a,
.bg.black::before,
input.bg.black {
	background-color: rgba(0, 0, 0, 1.0);
}
.bg.black .radiocheck.boxed, 
.bg.black select,
.bg.black textarea,
.bg.black input[type="text"],
.bg.black input[type="password"],
.bg.black input[type="email"],
.bg.black .comments li .holder .text,
.bg.black.box,
.bg.black hr {
	background-color: rgba(255, 255, 255, 0.2);
}
.bg.black pre {
	background-color: rgba(255, 255, 255, 0.04);
}
.bg.white {
	color: rgba(0, 0, 0, 1.0);
}
.bg.white nav.tabs .selected > a,
.bg.white::before,
input.bg.white {
	background-color: rgba(255, 255, 255, 1.0);
}
.bg.white .radiocheck.boxed, 
.bg.white select,
.bg.white textarea,
.bg.white input[type="text"],
.bg.white input[type="email"],
.bg.white input[type="password"],
.bg.white .comments li .holder .text,
.bg.white.box,
.bg.white hr {
	background-color: rgba(0, 0, 0, 0.1);
}
.bg.white pre {
	background-color: rgba(0, 0, 0, 0.04);
}
.black nav.tabs ul,
.black .button a,
.black nav.tabs .selected > a {
    border-color: rgba(255, 255, 255, 0.3);
}
.white nav.tabs ul,
.white .button a,
.white nav.tabs .selected > a {
    border-color: rgba(0, 0, 0, 0.3);
}
.bg.black .comments li.left .holder::before {
    border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}
.bg.white .comments li.left .holder::before {
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}
.bg.black .comments li.right .holder::after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}
.bg.white .comments li.right .holder::after {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
}
.bg.black .timeline li img {
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 1), 0 2px 0 rgba(255, 255, 255, 0.08) inset, 0 3px 0 4px rgba(255, 255, 255, 0.05);
}
.bg.white .timeline li img {
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1), 0 2px 0 rgba(0, 0, 0, 0.08) inset, 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.bg.black .timeline li.right .holder::after {
    border-color: transparent rgba(255, 255, 255, 0.2) transparent transparent;
}
.bg.white .timeline li.right .holder::after {
    border-color: transparent rgba(0, 0, 0, 0.1) transparent transparent;
}
.bg.black .timeline li.left .holder::before {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.2);
}
.bg.white .timeline li.left .holder::before {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
}
.bg.white .comments.timeline::before {
	background-color: rgba(0, 0, 0, 0.1);
}
.bg.black .comments.timeline::before {
	background-color: rgba(255, 255, 255, 0.2);
}
.bg.white .timeline li.time > span {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 0.1);
}
.bg.black .timeline li.time > span {
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(255, 255, 255, 0.2);
}
.bg.white .timeline .header > span,
.bg.white .timeline .footer > span {
    background-color: rgba(0, 0, 0, 1);
}
.bg.black .timeline .header > span,
.bg.black .timeline .footer > span {
    background-color: rgba(255, 255, 255, 1);
}
.bg.white .code {
    background-color: rgba(247, 247, 249, 0.8) !important;
}
.bg.black .code {
    background-color: rgba(247, 247, 249, 0.1) !important;
}
.bg.black ul.icons .line::before {
    background-color: rgba(255,255,255,0.1);
}
.bg.white ul.icons .line::before {
    background-color: rgba(0,0,0,0.1);
}
.bg.black .marker.tr::before,
.bg.black .marker.tr::after,
.bg.black .marker.tl::before,
.bg.black .marker.tl::after,
.bg.black .marker.br::before,
.bg.black .marker.br::after,
.bg.black .marker.bl::before,
.bg.black .marker.bl::after {
    background-color: rgba(255,255,255,0.5);
}
.bg.white .marker.tr::before,
.bg.white .marker.tr::after,
.bg.white .marker.tl::before,
.bg.white .marker.tl::after,
.bg.white .marker.br::before,
.bg.white .marker.br::after,
.bg.white .marker.bl::before,
.bg.white .marker.bl::after {
    background-color: rgba(0,0,0,0.5);
}
.invert { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.bg.white.border-top::before,
.bg.white.border-bottom::after,
.bg.white.border-left::before,
.bg.white.border-right::after,
.bg.white .border-top::before,
.bg.white .border-bottom::after,
.bg.white .border-left::before,
.bg.white .border-right::after,
.bg.white .border, 
.bg.white pre {
        border-color: rgba(0, 0, 0, 0.1);
}
.bg.black border-top::before,
.bg.black.border-bottom::after,
.bg.black.border-left::before,
.bg.black.border-right::after,
.bg.black .border-top::before,
.bg.black .border-bottom::after,
.bg.black .border-left::before,
.bg.black .border-right::after,
.bg.black .border, 
.bg.black pre {
        border-color: rgba(255, 255, 255, 0.1);
}
.bg.white.shadow,
.bg.white .shadow {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.bg.black.shadow,
.bg.black .shadow {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.bg.white .message {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);	
}
.bg.black .message {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.6);
}