nav ul {
    list-style-type: none;
	display: inline-block;
}
nav > ul {
    padding: 0;
	font-size: 14px;
}
nav ul ul {
    margin-top: 6px;
}
nav .logo {
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px !important;
    text-transform: uppercase;
}
nav li {
    float: left;
    margin: 0;
}
nav li:last-child {
    margin: 0;
}
nav li.color a {
	border: none;
}
nav.right > ul > li {
    margin: 0 0 0 14px;
}
nav.tabs > ul {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
	padding: 2px 0 0;
}
nav .button a, 
nav.tabs .selected > a {
    border-style: solid;
    border-width: 1px;
}
nav.tabs .selected > a {
    border-bottom: medium none;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: -6px;
}
nav.tabs.right > ul > li {
    margin: 0;
	width: 100%;
}
nav.tabs > ul > li a {
    padding: 8px 0 10px;
}
nav.tabs.vertical > ul > li a {
    padding: 6px 0;
}
nav li a {
    opacity: 0.8;
	padding: 6px 14px;
}
nav.vertical li.selected a {
	padding: 10px 14px;
}
nav li a:hover, 
nav .selected a, 
nav .logo a {
    opacity: 1;
}

nav.vertical > ul {
    width: 100%;
	margin: 0;
}
nav.vertical li {
    width: 100%;
}
nav.vertical.right > ul, 
nav.vertical.right li {
    width: calc(100% - 14px);
}
nav li span {
    float: right;
}
nav li hr {
    margin: 10px 0 6px;
}
nav .logo img {
    display: inline-block;
    height: 22px;
    width: inherit;
}
nav .detail {
    margin: 4px 0;
    padding: 0 0 10px;
    width: 100%;
}
nav .detail .left {
    font-size: 13px;
    opacity: 0.8;
    width: 50%;
}
nav .detail .right {
    font-size: 13px;
    text-align: right;
    width: 50%;
}
nav .detail.border-bottom::after, 
nav .detail.border-top::before {
    display: inline-block;
}
nav .header {
    font-size: 18px;
    margin: 6px 0 !important;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    width: calc(100% - 20px) !important;
}
nav.right .header {
    text-align: right;
}
nav.right {
    float: none;
    text-align: right;
}
nav .title {
    font-size: 24px;
    text-align: center;
}
nav .subtitle {
    opacity: 0.9;
    text-align: center;
}
nav.vertical {
    float: none;
}
nav.vertical .button.selected > a {
    display: inline-block;
    margin: 0;
    width: 100%;
}
nav.vertical.tabs hr {
    margin: 18px 0 16px;
    width: 100%;
}
nav.vertical a,
nav.vertical.tabs a {
	width: 100%;
    display: block;
    margin: 0;
}
.spacer nav.vertical .selected > a,
.spacer nav.vertical a {
	width: 100%;
}
nav.vertical.tabs ul {
    border-left-style: solid;
    border-left-width: 1px;
    width: 100%;
	border-bottom: none;
}
nav.vertical.tabs .selected > a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 0 4px 4px 0 !important;
    margin: 4px 0 2px -1px;
    padding: 8px 10px;
}
nav.vertical.tabs .selected > a {
    border-left-style: none;
}
nav.vertical.tabs.right ul {
    border-right-style: solid;
    border-right-width: 1px;
    width: 100%;
	border-bottom: none;
	border-left: none;
}
nav.vertical.tabs.right .selected > a {
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 4px 0 0 4px !important;
    border-right: medium none;
    width: calc(100% - 19px);
}
nav.vertical,
nav.vertical.tabs > ul {
    height: 100%;
}
nav.vertical li.contact::after {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    display: block;
    height: 1px;
    margin-top: 50px;
    width: 100%;
}
nav.vertical li.contact {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 14px;
    font-weight: 300;
    padding-top: 8px;
    position: relative;
    width: 100%;
}
nav.vertical .contact img {
    border-radius: 50%;
    float: left;
    height: 40px;
    width: 40px;
}
nav.vertical .contact .icon {
    border-radius: 50%;
    display: inline-block;
    float: left;
    font-size: 20px;
    height: 32px;
    padding: 8px 0 0;
    text-align: center;
    width: 40px;
}
nav.vertical .contact span {
    background-color: initial !important;
    color: inherit;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    height: 40px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    width: calc(100% - 40px);
}
nav.vertical .contact span strong {
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    width: 100%;
}
nav.vertical .contact.selected::before {
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    content: "";
    position: absolute;
    right: -16px;
    top: 0;
    width: 3px;
}
nav.vertical .contact a {
    opacity: 1;
}
nav.vertical.left li {
    text-align: left;
}
nav.vertical.center li {
    text-align: center;
}
nav.vertical.right li {
    text-align: right;
}
nav.breadcrumb li {
	padding: 6px 0;
	margin: 0;
}
nav.breadcrumb li::after {
    content: "/";
    opacity: 0.3;
    padding: 0 14px;
}
nav.breadcrumb > ul {
    padding: 5px 0;
}
nav.breadcrumb li:last-child::after {
    content: "";
    padding: 0;
}
nav.breadcrumb li a {
	padding: 0;
}
nav.like-grid ul {
    display: table;
    width: 100%;
}
nav.like-grid li {
    display: table-cell;
    float: inherit;
    margin: 0;
    text-align: center;
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-bottom-style: solid;
	border-bottom-size: 3px;
}
nav.like-grid li a {
    padding: 6px 0 12px;
}
nav.like-grid li.selected {
    border-bottom-color: rgba(255, 255, 255, 1);
}
nav ul ul {
	margin-top: 0;
    padding: 0;
}
nav ul ul li {
	font-size: small;
}
nav ul ul li a {
    opacity: 0.7;
    padding: 3px 14px;
}