.shape {
    position: relative;
}
.shape.before {
    padding-top: 6vh !important;
}
.shape.before.inside {
    padding-top: 0 !important;
}
.shape.before::before {
    top: 0;
	left: 0;
    content: "";
    position: absolute;
	border-top-width: 5vh;
	border-top-color: rgba(255,255,255,1);
	border-top-style: solid;
}
.shape.before.with-black::before {
	border-top-color: rgba(0,0,0,1);
}
.shape.after {
    padding-bottom: 6vh !important;
}
.shape.after.inside {
    padding-bottom: 0 !important;
}
.shape.after::after {
    bottom: 0;
	left: 0;
    content: "";
    position: absolute;
	border-bottom-width: 5vh;
	border-bottom-color: rgba(255,255,255,1);
	border-bottom-style: solid;
}
.shape.after.with-black::after {
	border-bottom-color: rgba(0,0,0,1);
}
.shape.before.from-left::before,
.shape.after.from-left::after {
	border-right-width: 99.02vw;
	border-right-color: transparent;
	border-right-style: solid;
}
.shape.before.from-right::before,
.shape.after.from-right::after {
	border-left-width: 99.02vw;
	border-left-color: transparent;
	border-left-style: solid;
}
.shape.before.from-center::before,
.shape.after.from-center::after {
	border-left-width: 49.5vw;
	border-left-color: transparent;
	border-left-style: solid;
	border-right-width: 49.5vw;
	border-right-color: transparent;
	border-right-style: solid;
}
.shape.before.from-center.to10::before,
.shape.after.from-center.to10::after {
	border-left-width: 9.5vw;
	border-right-width: 89.5vw;
}
.shape.before.from-center.to30::before,
.shape.after.from-center.to20::after {
	border-left-width: 19.5vw;
	border-right-width: 79.5vw;
}
.shape.before.from-center.to30::before,
.shape.after.from-center.to30::after {
	border-left-width: 29.5vw;
	border-right-width: 69.5vw;
}
.shape.before.from-center.to40::before,
.shape.after.from-center.to40::after {
	border-left-width: 39.5vw;
	border-right-width: 59.5vw;
}
.shape.before.from-center.to60::before,
.shape.after.from-center.to60::after {
	border-left-width: 59.5vw;
	border-right-width: 39.5vw;
}
.shape.before.from-center.to70::before,
.shape.after.from-center.to70::after {
	border-left-width: 69.5vw;
	border-right-width: 29.5vw;
}
.shape.before.from-center.to80::before,
.shape.after.from-center.to80::after {
	border-left-width: 79.5vw;
	border-right-width: 19.5vw;
}
.shape.before.from-center.to90::before,
.shape.after.from-center.to90::after {
	border-left-width: 89.5vw;
	border-right-width: 9.5vw;
}