.absolute {
	position: absolute !important;
}
.relative {
	position: relative !important;
}
.fixed {
    height: auto !important;
    position: fixed !important;
    z-index: 100 !important;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
bg.no,
.no-bg {
	background-color: transparent !important;
}
.no-margin {
	margin: 0 !important;
}
.margin-auto {
	margin: 0 auto !important;
}
.scroll {
	overflow-y:scroll;
	overflow-x:hidden;
}
.scrollx {
	overflow-y:hidden;
	overflow-x:scroll;
}