.comments {
    color: inherit;
    list-style-type: none;
    margin: 10px 0 20px;
    padding: 2px 0;
    width: 100%;
}
.comments h6 {
    display: none !important;
}
.comments li {
    font-size: 14px;
    width: 100%;
}
.comments .noimg {
    margin-left: 5px;
}
.comments .noimg img {
    display: none;
}
.comments .noimg .holder {
    width: calc(100% - 6px);
}
.comments li.time {
    font-size: 12px;
    margin: 10px 0;
    opacity: 0.5;
    text-align: center;
    text-transform: uppercase;
}
.comments li img {
    border-radius: 50%;
    float: left;
    height: 30px;
    margin: 4px 10px 6px 0;
    width: 30px;
}
.comments li.right img {
    float: right;
	margin: 4px 0 6px 10px;
}
.comments li .holder {
    float: left;
    position: relative;
    width: calc(100% - 40px);
}
.comments li.left .holder::before {
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: inline-block;
    height: 0;
    left: -6px;
    position: absolute;
    top: 12px;
    width: 0;
}
.comments li.right .holder::after {
    border-style: solid;
    border-width: 6px 0 6px 6px;
    content: "";
    display: inline-block;
    height: 0;
    position: absolute;
    right: -6px;
    top: 12px;
    width: 0;
}
.comments li .holder .text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    float: left;
    margin-bottom: -2px;
    padding: 10px 12px;
    width: 100%;
}
.comments li .holder .time {
    display: inline-block;
    font-size: 10px;
    margin: 0 12px 4px;
    opacity: 0.5;
    text-transform: uppercase;
}
.comments .unread {
	opacity: 0.5;
}
.comments.timeline {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
}
.comments.timeline::before {
    content: "";
    height: calc(100% - 30px);
    left: calc(50% - 1px);
    position: absolute;
    top: 10px;
    width: 2px;
    z-index: -1;
}
.timeline::after {
    clear: both;
    content: "";
    display: block;
}
.timeline li {
	clear:both;
}
.timeline li.left,
.timeline li.right {
    width: calc(50% + 23px);
}
.timeline li.left img,
.timeline li.right .holder {
	float: right;
}
.timeline .noimg .holder {
    width: calc(100% - 38px);
}
.timeline .right.noimg .holder {
    width: calc(100% - 34px);
}
.timeline .right.noimg > h6 {
    right: calc(50% + 6px) !important;
}
.timeline .left.noimg > h6 {
    left: calc(50% + 6px) !important;
}
.timeline li.time {
    float: left;
}
.timeline li img {
	margin: 2px 7px 6px !important;
}
.timeline li.right img,
.timeline li.left .holder {
    float: left;
}
.timeline li.right .holder::after {
	border-width: 6px 6px 6px 0;
	left: -6px;
	right: auto;
}
.timeline li.left .holder::before {
	border-width: 6px 0 6px 6px;
	right: -6px;
	left: auto;
}
.timeline li .holder {
    width: calc(100% - 50px);
}
.timeline li.left .holder {
    text-align: right;
}
.timeline li h6 {
    font-size: 18px;
    margin-top: 7px;
    opacity: 0.4;
    position: absolute;
	display: block;
}
.timeline li.left > h6 {
    left: calc(50% + 30px);
}
.timeline li.right > h6 {
    left: auto;
    right: calc(50% + 30px);
}
.timeline li.time {
    opacity: 1;
	margin: 10px 0 20px;
}
.timeline li .holder .time {
    margin: 4px 12px 10px;
}
.timeline li.time > span {
	border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 6px 8px;
}
.timeline .header > span,
.timeline .footer > span {
    border-radius: 50%;
    display: block;
    height: 10px;
    margin: 0 auto 10px;
    width: 10px;
}
.masonry {
	 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.masonry {
	column-fill: initial;
    -moz-column-fill: initial;
	-webkit-column-gap: 30px; /* Chrome, Safari, Opera */
    -moz-column-gap: 30px; /* Firefox */
    column-gap: 30px;
    transition: all 0.5s ease-in-out 0s;
}
.masonry .brick {
    margin-bottom: 30px;
}
.masonry .brick img {
    transition: all 0.5s ease-in-out 0s;
}
.masonry .brick:hover img {
    opacity: 0.75;
}
.masonry.bordered {
    -moz-column-gap: 50px;
    -moz-column-rule: 1px solid #eee;
}
.masonry.bordered .brick {
    border-bottom: 1px solid #eee;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.masonry.gutterless {
    -moz-column-gap: 0;
}
.masonry.gutterless .brick {
    margin-bottom: 0;
}