code {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: inherit;
    font-size: 80%;
    padding: 2px 4px;
}
pre {
	white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */
	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
    margin: 0;
    padding: 6px 10px;
    width: calc(100% - 20px);
}
pre.ascii {
    background: none!important;
    display: block;
    font-size: 10px;
    line-height: 5px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
pre.ascii.xxs {
    font-size: 2px;
    line-height: 1px;
}
pre.ascii.xs {
    font-size: 4px;
    line-height: 2px;
}
pre.ascii.s {
    font-size: 6px;
    line-height: 4px;
}
pre.ascii.l {
    font-size: 14px;
    line-height: 7px;
}
pre.ascii.xl {
    font-size: 16px;
    line-height: 8px;
}
pre.attach {
    margin-top: -20px;
    padding-top: 24px;
}
pre.code {
    border-radius: 4px;
}
pre.border {
    width: calc(100% - 22px);
}
pre code {
	background-color: transparent !important;
	border: none;
    font-size: 100%;
	padding: 0 !important;
}