.show-selected .selected .hide,
.show-hide:hover .hide {
	display: block !important;
}
.hover-opacity:hover {
	opacity: 1.0 !important;
}
.hover-invert:hover { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


/*Responsive Styles*/
/* Smartphones (portrait) ---------------- */
/* phone ------------------ */
@media only screen 
and (max-width : 320px)
{
	.phone-noheight {
		height: auto !important;
	}
	.phone-width-f {
		width: 100% !important;
	}
	.hide-below.retro,
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,
	
	.hide-for.phone  {
		display: none !important;
	}
}

/* Smartphones (landscape) ---------------- */
/* phone ------------------ */
@media only screen 
and (min-width : 321px)
and (max-width : 767px)
{
	.phone-noheight {
		height: auto !important;
	}
	.phone-width-f {
		width: 100% !important;
	}
	.hide-below.retro,
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,
	
	.hide-for.phone {
		display: none !important;
	}
}

/* Tablets (portrait) -------------------- */
/* tablet ------------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
	
	.hide-below.retro,
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,
	
	.hide-for.mobile {
		display: none !important;
	}
}

/* Tablets (landscape) ------------------- */
/* tablet ------------------ */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
{   
	
	.hide-below.retro,
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,
	
	.hide-for.mobile {
		display: none !important;
	}
}

/* Old Desktops and laptops -------------- */
/* no class (just hide) ------ */
@media only screen 
and (min-width : 0) 
and (max-width : 768px)
{
	.hide-below.retro,
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,

	.hide-for.desktop {
		display: none !important;
	}
}
/* retro ------------------ */
@media only screen 
and (min-width : 769px) 
and (max-width : 1024px)
{
	.hide-above.retro,
	
	.hide-below.laptop,
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,

	.hide-for.desktop {
		display: none !important;
	}
}
/* laptop ------------------ */
@media only screen 
and (min-width : 1025px) 
and (max-width : 1200px)
{
	.hide-above.laptop,
	.hide-above.retro,
	
	.hide-below.medium,
	.hide-below.large,
	.hide-below.xlarge,

	.hide-for.desktop {
		display: none !important;
	}
}

/* Desktops ------------------ */
/* medium ------------------ */
@media only screen 
and (min-width : 1201px)
and (max-width : 1600px)
{
	.hide-above.medium,
	.hide-above.laptop,
	.hide-above.retro,
	
	.hide-below.large,
	.hide-below.xlarge,

	.hide-for.desktop {
		display: none !important;
	}
 
}
/* large ------------------ */
@media only screen 
and (min-width : 1601px)
and (max-width : 2000px)
{
	.hide-above.large,
	.hide-above.medium,
	.hide-above.laptop,
	.hide-above.retro,
	
	.hide-below.xlarge,

	.hide-for.desktop {
		display: none !important;
	}
 
}
/* xlarge ------------------ */
@media only screen 
and (min-width : 2001px)
{
	.hide-above.xlarge,
	.hide-above.large,
	.hide-above.medium,
	.hide-above.laptop,
	.hide-above.retro,
	
	.hide-for.desktop {
		display: none !important;
	}
 
}